::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius   : 20px;
    border          : 6px solid transparent;
    background-clip : content-box;
}

/* change scrollbar color on hover with translition delay */
::-webkit-scrollbar-thumb:hover {
    background-color   : #b3b3b3;
    transition-delay   : 0.1s;
    transition-duration: 0.2s;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.cat {
    cursor: pointer;
    position: fixed; 
    bottom: -65px;
    right: 10px; 
    z-index: 99; 
    background-image: url('/assets/cat.webp');
    width: 100px;
    height: 100px;
    background-size: cover;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
     -ms-transition:all 0.3s ease;
      -o-transition:all 0.3s ease;
         transition:all 0.3s ease;
    
}


.cat:hover {
    bottom: 0px;
}

